{% extends 'base.html' %}
{% block content %}

  {% for order in object_list %}
  <div class="well">
    <p>
      {{ order }}; Table {{ order.table_number }}
    </p>
    <hr>
    {% for item in order.orderitem_set.all %}
      <p>{{ item.quantity }} {{ item }}
        ${{ item.total }}
      </p>
  {% endfor %}

<hr>
      Total: ${{ order.total }}
        {% if order.is_paid %}
          <h4 style="color:green">paid</p>
        {% else %}
          <h4 style="color:red">unpaid</p>
        {% endif %}
      </p>
</div>
  {% endfor %}

{% endblock %}
