{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<h1>Create Order</h1>
<br>
<h1><b>Order Total:</b> ${{ total }}</h1>

<form method="POST" action="">
    {{ form }}

    {% for formset in inlines %}
         <hr />
         <h3>Deliveries</h3>
         {{ formset.management_form }}
         {% for subform in formset %}
             <div class="subform">
                 {{ subform }}
             </div>
         {% endfor %}
     {% endfor %}

    <div>
         <hr />
         {% csrf_token %}
         <input class="signUpBtn btn btn-primary" type="submit" value="Submit Order">
     </div>


  </form>



{% endblock %}
