{% extends 'base.html' %}
{% block content %}

  {% for order in object_list %}
  <div class="well">

    <h4 style="text-align:right; float:right; color:blue">
      {% if request.user.profile.is_owner or request.user.profile.is_server %}
        <a href="{% url 'order_detail_view' order.id %}">Mark as served/paid</a>
      {% elif request.user.profile.is_chef %}
        <a href="{% url 'order_detail_view' order.id %}">Mark as prepared</a>
      {% endif %}
    </h4>

    <p>
      {{ order }}; Table {{ order.table_number }}
    </p>
    <hr>
    {% for item in order.orderitem_set.all %}
      <p>{{ item.quantity }} {{ item }}
        ${{ item.total }}
      </p>
  {% endfor %}

<hr>
      Total: ${{ order.total }}
        {% if order.is_paid %}
          <h4 style="color:green">paid</p>
        {% else %}
          <h4 style="color:red">unpaid</p>
        {% endif %}
      </p>
</div>
  {% endfor %}

{% endblock %}
