{% extends 'base.html' %}

{% block content %}

  <div class="row">
    <div class="col-md-8">

      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">
            Daily Special

            </h3>
        </div>



        <div class="panel-body">
      <ul>
        {% for special in object_list %}
          <li>{{ special }}: ${{ special.price }} </li>
          {% if request.user.profile.is_owner %}
            <a href="{% url 'daily_special_update_view' special.id %}">Edit</a>
          {% endif %}
        {% endfor %}
      </ul>

        </div>

      </div>
    </div>

{% if not request.user.is_authenticated %}
    <div class="col-md-4">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">LOGIN</h3>
        </div>
        <div class="panel-body">
          <form class="" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ login_form.as_p }}
          <input type="submit" name="" value="Login">
          </form>
        </div>
      </div>
    </div>
{% endif %}

  </div>

{% endblock %}
